/* form button */
#form_buttion{
  text-decoration: none;
}
.button {
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.6rem;

  transform-origin: center;

  padding: 0.4rem 1rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
  box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
    0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);

  transition: all var(--transtion);
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: hsla(260 97% 61% / 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.button:is(:hover, :focus-visible) {
  --active: 1;
}
.button:active {
  transform: scale(1);
}

.button .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.button .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height:2rem;
  background-color: black;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button .sparkle {
  position: relative;
  z-index: 10;

  width: 1rem;
}

.button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.button .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.button .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.button .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(
    90deg,
    hsla(0 0% 100% / 1) 0%,
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;

  font-size: .8rem;
  color: transparent;
}

/* form button end */

.navbar {
    background-color: transparent !important;
    color: black !important;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0px !important;
    border-color: rgb(229 223 223) !important;
    width: 100%;
    height: 11.4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

/* after 1000px nav none */
@media (max-width: 1000px){
    .navbar{
        display: none !important;
    }
    .floating-nav{
        display: block !important;
    }

}


.navbar-toggler {
    border-color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7'/%3E%3C/svg%3E");

}

.nav-link,
.signIn>.btn {
    color: black !important;
}

.nav-link.white {
    color: black !important;
}


.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8) !important;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


body {
    padding-top: 80px;
}



header {
    padding: 0;
    margin: 0;
    background-color: black;
}

ul>li {
  font-size: 12.3px;
  font-weight: 550;
  color: rgb(29, 11, 11);
}

.white {
  color: white !important;
}

.gfgLogo {
  width:90px;
  height: 50px;
  margin-left: 5%;
  object-fit: cover;
}

.signIn {
  min-width: fit-content;
  margin-right: 10%;
  /* margin-left:4%; */
}

.signIn>.btn {
  font-size: 12px;
  padding: 5px 10px !important;
}

.signIn>.btn:hover {
    background-color: lightgray;
    border: 1px solid gray;
    color: white;
}

.nav-link,
.signIn>.btn {
  letter-spacing: 0.025em !important;
}

/* Reponsiveness For Small Screen Devices */
@media (max-width: 576px) {
    .gfgLogo {
        height: 80px !important;
    }
}

/* Responsiveness For Medium Screen Devices */
@media (max-width: 768px) {
    .gfgLogo {
        height: 100px;
    }
}

/* Responsiveness For Large Screen Devices */
@media (max-width: 992px) {

    .navbar-collapse,
    .signIn {
        margin: 0;
        text-align: center;
    }
}

/* floating nav css */

.floating-nav{
    display: none;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	/* color: #ececee; */
	/* background-color: #1f2029; */
	overflow-x: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  /* height: 100vh; */
  width: 100%;
}
.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  -webkit-text-stroke: 2px #ffeba7;
  text-stroke: 2px #ffeba7;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translate(-45%,-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  text-transform: uppercase;
  line-height: 3.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}






html,body{
    
    /* font-family: 'Poppins',san-serif; */
    width: 100%;
    overflow-x: hidden;
}
 


.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height:20vh;
    overflow: hidden;
}
#contact-hollow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50pt;
    -webkit-text-fill-color: rgba(248, 248, 248, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(26, 26, 27);
    letter-spacing: 0.8em;
    font-weight: 800;
    width: 100%;
    /* height: 100%; */
    text-align: center; 
}

#contact-filled{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30pt;
    font-weight: 800;
    z-index: 1;
    letter-spacing: 5px;
    text-align: center;
    /* height: 100%; */
    width: 100%;
}

.section1>img{
    width: 100%;
    height: 100%;
}

.intro{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 10% !important;
    padding-left: 100px;
    position: relative;
    padding-right: 100px;
}

.intro .upper{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    justify-content: space-between;
}

.intro .upper p{
    padding-top: 3rem;
    width: 60%;
    font-size: 12pt;
    font-weight: 200;
}

.intro .upper img{
    width: 50%;
}

#picture{
    width: 250px;
    height: 250px;
}

.menu{
    position: relative;
    top: -30px;
    margin-left: 100px;
    display: flex;
}
ul{
    list-style: none;
    text-indent: -2.5em;
}

main{
    background-image: url("image/back.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

@media (max-width: 768px) {
    .section1{
        width: 100%;
    }
    #contact-hollow{
        font-size: 24pt;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #contact-filled{
        font-size: 17pt;
    }
    .intro{
        padding-left: 20px;
        padding-right: 20px;
        height: 120vh;
        gap: 3em;
    }

    .intro .upper{
        width: 100%;
        flex-direction: column;
    }
    .intro .upper p{
        width: 100%;
    }
    .intro .upper img{
    height: 150px;
        width: 150px;
    }
    main{
        background: none;
    }
}

@media (max-width: 480px) {
    .section1{
        margin-top: 10vh;
        height: 8vh;
        width: 100%;
    }
    #contact-hollow{
        font-size: 24pt;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #contact-filled{
        font-size: 17pt;
    }
    .intro{
        padding-left: 20px;
        padding-right: 20px;
        height: 120vh;
        gap: 3em;
    }

    .intro .upper{
        width: 100%;
        flex-direction: column;
    }
    .intro .upper p{
        width: 100%;
    }
    .intro .upper img{
        width: 100%;
    }
    main{
        background: none;
    }
}


/* About css */


/* body {
  min-height: 100vh;
  font: Josefin Sans;
} */
#padding {
  margin-top: 2px;
  margin-bottom: 2px;
}


.options {
  margin: 14px;
}

li {
  display: inline;
  margin: 20px 30px;
}

.icons {
  font-size: 2.8rem;
  color: black;
  cursor: pointer;
  display: none;
}

li button {
  height: 5rem;
  width: 10rem;
  font-size: 26px;
  border-radius: 0.75rem;
  background-color: #bdb6b6;
  color: white;
}






#lastLine {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 0.2rem;
  margin-left: 25rem;
}

.nextsect {
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 2%;
  background: #fffcf8;
  color: black;
}

.sechead {
  margin-bottom: 1%;
  height: 68px;
  font-weight: 550;
  font-size: 35px;
  line-height: 67.5px;
}
.paraadd {
  display: none;
  height: 87px;
  padding: 2%;
  border: A39F9F;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  background-color: white;
  
}
.codeofconduct {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

.glist {
  padding: 9px 18px 9px 35px;
  border: A39F9F;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  line-height: 44.48px;
  font-weight: 500 ;
  height: 60px;
  background-color: white;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  
}
.glist i {
  width: 40px;
  height: 40px;
  fill: #000;
 
}
#glist_top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid black;
}
.glist_l_R{
 border-left: 2px solid black;
 border-right: 2px solid black;
}
#glist_bottom{
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nextheading {
  font-weight: 550;
  font-size: 35px;
  line-height: 67.5px;
}
.codecon {
  height: 236px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.anti {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 1%;
}

.anti ul {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 300;
  padding-left: 0px;
  list-style-type: disc;
  margin-bottom: 1%;
}

.anti ul li {
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-left: 75px;
  line-height: 30px;
  text-align: left;
}
.anti p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.anti ul li {
  display: list-item;
}

@media (max-width: 500px){
  .glist{
    height: 50px !important;
      font-size: 1.04rem !important;
  }
  .sechead {
    font-size: 25px !important;
  }
  .codeconduct {
    font-size: 20px !important;
  }
}

@media (max-width: 768px) {
  body {
    height: 100vh;
    width: 100%;
  }
  .paraadd {
    font-size: 12px;
  }
  .padding {
    font-size: 12px;
  }

  
  .icons {
    display: block;
    position: relative;
  }
  .glist{
    height: 60px;
    font-size: 26px;
  } 
   .codeconduct {
    font-size: 20px !important;
  }

  .anti p{
        font-size: 18px !important;
  } 
  .anti ul li{
    font-size: 22px !important;
    line-height: 1.3rem;
} 
  

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    background: #202124;
    flex-direction: column;
    align-items: center;
    display: none;
    font-size: 1.5rem;
  }
  .sechead {
    font-size: 45px;
  }

  .options.active {
    display: flex;
  }

  .options li {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  li button {
    height: 2.5rem;
    width: 100%;
    font-size: 1.2rem;
  }

  .heading h1 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
  .sechead {
    font-size: 28px;
  }
  .footup {
    position: relative;
    left: -5%;
    font-size: 25px;
  }
  .followup {
    font-size: 25px;
    line-height: 36px;
  }
  .boxin {
    position: relative;
    left: -12%;
  }
  .footlast {
    position: relative;
    left: -9%;
    font-size: 19px;
  }

  .heading h2 {
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
  }

  #page_text {
    width: 100%;
    padding: 0.5rem 10px 0px 25px;
    font-size: 1rem;
  }
  .footlast {
    text-align: left;
    font-size: 10.7px;
  }

  #lastLine {
    width: 100%;
    height: 20px;
    margin: 40px;
    font-size: 1rem;
  }

  #lastLine li {
    flex-direction: row !important;
    margin: 0 5px;
  }
  .nextheading{
    font-size: 30px;
    font-weight: 700;
  }
  .nextheading p{
    
    justify-content: space-between;
  }
}